numpy 
pandas
scikit-learn
umap-learn
matplotlib
torch
python-dotenv
langchain
langchain_openai
langchain_community
pypdf 
faiss-cpu
langchain_groq
pytrends
langgraph
pytube
pinecone
langchain-pinecone
streamlit
youtube_transcript_api
yt-dlp
langchain-chroma
fastapi
uvicorn
pydantic
plotly
llama-parse
llama-cloud-services